body {
  background: linear-gradient(
    171.8deg,
    rgb(238, 156, 167) 13.8%,
    rgb(246, 204, 162) 82.6%
  );
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 600px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px rgb(238, 156, 167);
}
select {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 8px;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
  text-align: center;
}
h2 {
  margin: 2px;
}
.city {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: solid rgb(233, 231, 231);
}
.city:last-child {
  border: none;
}
.time {
  font-size: 34px;
  font-weight: bold;
}
.date {
  opacity: 0.7;
}
footer {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}
footer a {
  text-decoration: none;
  color: rgb(227, 15, 160);
}
